
/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #footer {
        background: #1c1c1c;
        padding: calc(84 / 16 * 1rem) 0 calc(20 / 16 * 1rem);
        font-size: min(4vw, 1.2em);

        .left-section {
            margin: auto;
            margin-bottom: calc(50 / 16 * 1rem);
            text-align: center;
            .logo {
                display: inline-block;
                margin: auto;
                margin-bottom: calc(30 / 16 * 1em);
                height: calc(32 / 16 * 1em);
                width: auto;
                text-align: center;

                img {
                    display: block;
                    height: 100%;
                    width: auto;
                }
            }

            p {
                opacity: 0.9;
                margin: auto;
                width: 100%;
                font-size: calc(14 / 16 * 1rem);
                line-height: calc(27 / 14 * 1rem);
                color: #fff;
                text-align: center;
            }
        }

        .right-section {
            margin: auto;
            max-width: calc(407 / 16 * 1rem);
            width: 96%;
            .lists {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: auto;
                max-width: calc(307 / 16 * 1rem);
                width: 96%;
                ul {
                    margin-top: 0;
                    margin-bottom: 0;
                    padding: 0;

                    li {
                        opacity: 0.9;
                        margin-bottom: calc(12 / 16 * 1rem);
                        list-style: none;
                        font-size: calc(18 / 16 * 1rem);
                        color: #fff;

                        a {
                            text-decoration: none;
                            line-height: calc(21 / 18 * 1em);
                            color: #fff;
                            transition: color 0.3s;
                            &:hover {
                                color: var(--primary);
                            }
                        }
                    }
                    h2 {
                        position: relative;
                        margin-bottom: calc(37 / 16 * 1rem);
                        text-transform: uppercase;
                        font-size: calc(18 / 16 * 1rem);
                        line-height: calc(21 / 18 * 1em);
                        font-weight: bold;
                        color: #fff;

                        &:before {
                            position: absolute;
                            bottom: calc(-16 / 16 * 1rem);
                            left: 0;
                            content: "";
                            opacity: 1;
                            display: block;
                            background: var(--primary);
                            height: calc(2 / 16 * 1rem);
                            width: calc(97 / 16 * 1rem);
                        }
                    }

                    &:nth-of-type(3) {
                        margin-top: calc(50 / 16 * 1rem);
                        li {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin-bottom: calc(16 / 16 * 1rem);

                            &:last-of-type {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }

            .buttons {
                display: flex;
                justify-content: center;
            }

            .cs-button-solid {
                margin: 0;
                height: calc(53 / 16 * 1rem);
                width: calc(250 / 16 * 1rem);
                padding-top: calc(3 / 16 * 1rem);
            }
        }

        .credit {
            margin: auto;
            margin-top: calc(100 / 16 * 1rem);
            width: 96%;
            font-size: calc(16 / 16 * 1rem);
            line-height: calc(36 / 16 * 1rem);
            color: #fff;
            text-align: center;

            a {
                text-decoration: none;
                font-size: calc(16 / 16 * 1rem);
                color: var(--primary);

                &:hover {
                    text-decoration: underline;
                }
            }

            .copyright {
                display: block;
                font-size: calc(16 / 16 * 1rem);
            }
        }
    }
}

/* Small Desktop */
@media only screen and (min-width: 64rem) {
    #footer {
        font-size: min(1.2vw, 1em);
        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin: auto;
            max-width: calc(1320 / 16 * 1rem);
            width: 96%;
            padding: 0;
        }

        .left-section {
            margin: 0;
            width: calc(409 / 16 * 1rem);
            text-align: left;

            .logo {
                margin-left: 0;
                height: calc(40 / 16 * 1rem);
                text-align: left;
            }

            p {
                margin-left: 0;
                text-align: left;
            }
        }

        .right-section {
            margin: 0;
            max-width: none;
            width: calc(609 / 16 * 1rem);

            .lists {
                margin: 0;
                max-width: calc(769 / 16 * 1rem);
                width: 96%;

                ul {
                    li {
                        a {
                            position: relative;

                            &:before {
                                position: absolute;
                                bottom: calc(-3 / 16 * 1rem);
                                left: 0;
                                content: "";
                                opacity: 1;
                                display: block;
                                background: var(--primary);
                                height: calc(2 / 16 * 1rem);
                                width: 0%;
                                transition: width 0.3s;
                            }

                            &:hover {
                                &:before {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    &:nth-of-type(3) {
                        margin-top: 0;

                        li:first-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .buttons {
                justify-content: flex-start;
            }
        }

        .credit {
            .copyright {
                display: inline-block;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #footer {
            background: #061623;
        }
    }
}
